<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>323442662442-si7facq6hgs1glnbtiuuegqnn9dn1pcm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323442662442-si7facq6hgs1glnbtiuuegqnn9dn1pcm</string>
	<key>API_KEY</key>
	<string>AIzaSyAF_3lc4MS6nu-y7wPe5mgR_pSTeTa4xXo</string>
	<key>GCM_SENDER_ID</key>
	<string>323442662442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shahidazim.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ff77f</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ff77f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323442662442:ios:8fec5b9ba65335ddd97753</string>
</dict>
</plist>